/* ============================= */
/* ======== Log In ======== */
/* ============================= */

.logIn {
  width: 100%;
  background: url(../image/backgrounds/login_background_filter.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(9, 12, 8, 0.84) 0%, rgba(69, 69, 69, 0.24) 100%);
  }
  .container {
    position: relative;
    z-index: 5;
  }
  .grid {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  &_wrap {
    width: 600px;
    
    &__title {
      font-size: 48px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      margin-bottom: 35px;
    }

    &__form {
      display: flex;
      justify-content: center;
      form {
        width: 65%;
      }
    }
  }

}