//Variables
$size-text-form: 15px;
$background-form: #fff;
$color-form: #535353;
$color-placeholder-form: #a7a7a7;
$color-label-form: #858585;
$size-label-form: 14px;

.group_form {
  margin-bottom: 20px;

  &__title {
    display: block;
    line-height: 1;
    padding-bottom: 5px;
    color: $color-label-form;
    font-size: $size-label-form;
    font-weight: 500;
  }

  input {
    width: 100%;
    background: $background-form;
    padding: 10px 15px;
    font-size: 15px;
    color: $color-form;
  }
}
