// Container
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// Grid
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  >* {
    padding-left: 20px;
  }
}

#loader-icon {
  display: none;
}